body{
    font-family: Helvetica;
  }
  
  #shop{
    border: 1px solid black;
    padding: 20px;
    
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px , 1fr));
    justify-items: center;
    
    gap: 30px;
  }
  
  #shop .item-card{
    position: relative;
    border: 1px solid lightgray;
    box-shadow: 5px 5px 10px lightgray;
    width: 200px;
    padding: 10px;
  }
  
  #shop .item-card .item-image{
    width: 100%;
  }
  
  #shop .item-card .price{
    display: block;
    font-weight: 500;
    margin: 10px 0 50px 0;
    font-size: 18px;
  }
  
  #shop .item-card .add{
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    margin: 10px auto;
    width: 90%;
    color: white;
    background: black;
    border-radius: 3px;
    transition: all 0.2s;
  }
  
  #shop .item-card .add:hover , #cart .cart-item :is(.plus , .minus):hover{
    color: black;
    background: white;
    border: 1px solid black;
    cursor: pointer;
  }
  
  
  #cart{
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    border: 1px solid black;
  }
  
  #cart .entries{
    list-style: none;
    padding: 0 20px;
    width: 80%;
  }
  
  #cart .cart-item{
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 1px solid lightgray;
    box-shadow: 2px 2px 6px lightgray;
    padding: 5px 0;
    margin: 20px 0;
  }
  
  #cart .item-img{width: 50px;}
  
  .cart-item .qty{
    margin: 0 5px;
  }
  
  #cart .cart-item :is(.plus , .minus){
    border: none;
    background: black;
    color: white;
    border-radius: 3px;
    text-align: center;
    width: 25px;
    height: 20px;
    transition: all 0.2s;
  }